<div class="tab-pane">
  <form [formGroup]="formUser">
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Họ và Tên</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" formControlName="name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Email</label>
    <div class="col-lg-9">
      <input disabled class="form-control" type="email" formControlName="email" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Tuổi</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" formControlName="age">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Giới Tính: </label>
    <div class="col-lg-9">
      <label>Nam
        <input checked
               name="gender" value="Nam" type="radio">
      </label>
      <label>Nữ
        <input
          name="gender" value="Nữ" type="radio">
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Địa Chỉ </label>
    <div class="col-lg-9">
      <input class="form-control" type="text" formControlName="address">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Số Điện Thoại</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" formControlName="phone">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label"></label>
    <div class="col-lg-9">
      <input type="button" class="btn btn-primary" value="Lưu Thay Đổi">
    </div>
  </div>
  </form>
</div>
