<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <div class="table-responsive">

      <table class="table">
        <thead class="text-primary">
        <tr>
          <th scope="col">Stt</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Quiz Test</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td><a [routerLink]="['/admin/dashboard/users',user.id]">Quiz Tested</a></td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>
</div>
