<div class="container">
  <div>.</div>
  <div style="color: black"> Bài Test: . {{quiz.name}}</div>
  <div class="row col-12 center">
    <div class="col-5">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">Stt</th>
          <th scope="col">User List</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let user of users ; let i = index">
          <td>{{i + 1}}</td>
          <td>{{user.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6 point">
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">Point</th>
        </tr>
        </thead>
        <tbody *ngIf="points.length>0;else notdata">
        <tr *ngFor="let point of points">
          <td>{{point.point}}</td>
        </tr>
        </tbody>
        <ng-template #notdata>
          <tr>
            <td>empty</td>
          </tr>
        </ng-template>
      </table>

    </div>
  </div>
</div>

